.idea/workspace.xml
.idea/vcs.xml
*.jpeg
target/*
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/ace34dae-d655-4c71-b9bd-469809b98d79.xml
.idea/mongoSettings.xml