<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.start_up.dev.apilinkus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />

        <activity
            android:name=".BaseActivity"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".AlbumReadActivity" />
        <activity android:name=".NotificationFriendRequestActivity">

        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:launchMode="singleInstance" />
        <activity android:name=".BlankLoadingActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b4415cc4eb51d2fd6919317839154c002c445a80" />

        <activity
            android:name=".AlbumActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".GalleryOldActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity
            android:name=".GalleryActivity"></activity>
        <activity
            android:name=".AfterNotificationActivity">

        </activity>

        <activity
            android:name=".SendMomentActivity"
            android:configChanges="orientation|screenSize"
            >

        </activity>
        <activity
            android:name=".AlbumActivityIntentMomentDetailed"
            android:theme="@style/Theme.AppCompat" />

        <activity android:name=".HomeActivity">

        </activity>

        <!-- Firebase -->
        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>