<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title> Reset Password Form </title>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0"> </meta>
    <!-- JQuery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/formValidation.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
    <!-- FormValidation CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/css/formValidation.min.css">
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <style>
        body{
            background-color: #2c3e50;
            margin-left: auto;
            margin-right: auto;
        }

        p,h1{
            color: white;
        }

        #passwordForm .form-group .input-group{
            width: 50%;
        }

        #passwordForm .form-group{
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
        }

        label.error {
            display: block;
            max-width: 100%;
            margin-bottom: 15px;
            color: #a94442;
        }

        .help-block{
            margin-left:105px;
        }

        #clockdiv{
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
            float: right;
            margin-right: 30px;
        }

        #clockdiv > div{
            padding: 10px;
            border-radius: 3px;
            background: #00BF96;
            display: inline-block;
        }

        #clockdiv div > span{
            padding: 10px;
            border-radius: 3px;
            background: #00816A;
            display: inline-block;
        }

        .smalltext{
            padding-top: 5px;
            font-size: 16px;
        }



    </style>

    <!-- TOPO: #^guitare$#  La chaîne doit contenir uniquement « guitare ».-->

    <script>

        $(document).ready(function() {

            function getTimeRemaining(endtime){
              var total = Date.parse(endtime) - Date.parse(new Date());
              var seconds = Math.floor( (total/1000) % 60 );
              var minutes = Math.floor( (total/1000/60) % 60 );
              var hours = Math.floor( (total/(1000*60*60)) % 24 );
              var days = Math.floor( total/(1000*60*60*24) );
              return {
                'total': total,
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
              };
            }

             document
                .getElementById("countdown")
                            .value =
                getTimeRemaining(
                    document
                        .getElementById("expiryDate")
                                    .value).seconds;

             var deadline = document.getElementById("expiryDate").value;
             console.log("Expiryt time countdown " + document.getElementById("countdown").value);

             jQuery.validator.addMethod("greaterThanZero", function (value, element) {
                 if(parseFloat(value) > 0.0){
                    $(".btn-info").css("margin-left","0px");
                    return true;
                 }else{
                    $(".btn-info").css("margin-left","105px");
                    return false;
                 }
             }, "Sorry ! You didn't reset your password within the next hour you send the request ! Please submit a new request");

            $('#passwordForm').validate({
                ignore: "",
                rules: {
                    countdown: {
                        greaterThanZero : true
                    }
                }
            });

            $('#passwordForm').formValidation({
                framework: 'bootstrap',
                fields: {
                    new_password: {
                        validators: {
                            notEmpty: {
                                 message: 'The new password is required'
                            },
                            stringLength: {
                               min: 8,
                                  message: 'The new password must be more than 8 characters long'
                               },
                               regexp: {
                                  regexp: /^[a-zA-Z0-9_\.]+$/,
                                  message: 'The new password can contain a combination of upper and lower-case letters, numbers and/or symbol'
                               }
                         }
                    },

                    conf_password: {
                        validators: {
                            notEmpty: {
                               message: 'The confirmation password is required'
                            },
                            identical: {
                                field: 'new_password',
                                message: 'The password and its confirm are not the same'
                            }
                        }
                    },
                    highlight: function(element) {
                        var id_attr = "#" + $( element ).attr("id") + "1";
                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                        $(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
                     },
                    unhighlight: function(element) {
                        var id_attr = "#" + $( element ).attr("id") + "1";
                        console.log(id_attr);
                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                        $(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
                    },

                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function(error, element) {
                        if(element.length) {
                            error.insertAfter(element);
                        } else {
                            error.insertAfter(element);
                        }
                    }
                }
            });

           function initializeClock(id, endtime) {
              var clock = document.getElementById(id);
              var daysSpan = clock.querySelector('.days');
              var hoursSpan = clock.querySelector('.hours');
              var minutesSpan = clock.querySelector('.minutes');
              var secondsSpan = clock.querySelector('.seconds');

              function updateClock() {
                var t = getTimeRemaining(endtime);

                daysSpan.innerHTML = t.days;
                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                  clearInterval(timeinterval);
                  daysSpan.innerHTML = '00';
                  hoursSpan.innerHTML = '00';
                  minutesSpan.innerHTML = '00';
                  secondsSpan.innerHTML = '00';
                }
              }

              updateClock();
              var timeinterval = setInterval(updateClock, 1000);
           }

            initializeClock('clockdiv', deadline);
        });


    </script>


</head>
<body>
    <img src="http://image.flaticon.com/icons/svg/189/189688.svg" align="middle" width="75" />
    <div class="container">
        <h1>Change my password</h1>
        <p>
            To protect your account as well as possible, please select a password that's at least 8 characters long
            and contains a combination of upper and lower-case letters, numbers and/or symbol
        </p>
        <p>
            It's important not to re-use the same password for different services, especially if your are
            using the same username
        </p>
    </div>

    <div id="clockdiv">
        <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">Hours</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
        </div>
    </div>

    <form id="passwordForm" action="/saveNewpassword" method="post">
        <div class="form-group has-feedback">
            <label class="col-sm-1 control-label"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
                <span class="glyphicon form-control-feedback" id="new_password1"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label"></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" id="conf_password" name="conf_password" placeholder="Re-enter new password">
                <span class="glyphicon form-control-feedback" id="conf_password1"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label"></label>
            <input type="hidden" name="expiryDate" id="expiryDate" name="expiryDate" th:value="${expiryDate}">
            <input type="hidden" name="countdown" id="countdown" value="">
            <input type="hidden" name="token" th:value="${token}">
            <input type="submit" class="btn btn-info" value="CHANGE PASSWORD">
        </div>
    </form>
    <br>

</body>
</html>